$blue: #3f51b5;

// pages
@import './definiciones-page.scss';
@import './palabras-page.scss';
@import './textos-page.scss';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
}

.home-page {
  margin: 50px;
}

.container {
  width: 55%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.text-area {
  $padding: 20px;
  $border-width: 1px;

  width: calc(100% - #{($padding + $border-width) * 2 });
  border: $blue $border-width solid;
  border-radius: 2px;
  padding: $padding;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.1875em;
  color: rgba(0, 0, 0, 0.87);
  resize: none;
  height: 500px;

  &:focus, &:hover {
    outline: none;
    box-shadow:inset 0px 0px 0px 1px $blue;
  }
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  margin: auto;

  &--wide {
    width: 422px;
  }
}

.step-1-container {
  padding-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.solution-highlight {
  font-weight: bold;
}

.words-list {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  min-width: 210px;
  align-items: center;
}

.add-word {
  display: flex;
  justify-content: flex-end;
  margin: 20px;

  .input {
    margin-right: 12px;
    font-size: 16px;
    padding: 0 5px;
  }
}

.add-definition {
  display: flex;
  justify-content: flex-end;
  margin: 20px;

  .input {
    margin-right: 12px;
    font-size: 16px;
    padding: 0 5px;
  }
}

.solution-option {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__delete {
    cursor: pointer;
    text-decoration: underline;
  }
}

.variante-input {
  display: block;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
  margin: 14px 0;

  &--solution {
    background-color: yellow;
  }
}

.definicion-text-area {
  width: 100%;
  resize: vertical;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
  font-size: 16px;
}
